.todo-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.features{
    display: flex;
    width: 30%;
    justify-content: space-between;
}